.u-section-1 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 570px;
  margin: 170px -38px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 338px;
  min-height: 159px;
  margin: -198px -38px 0 auto;
}

.u-section-1 .u-group-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  text-align: start;
  margin-left: 0;
  margin-top: 0;
  min-height: 159px;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 22px;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  font-weight: normal;
  text-align: start;
  margin: 4px 244px 0 1px;
}

.u-section-1 .u-icon-1 {
  width: 41px;
  height: 41px;
  background-image: none;
  margin: -8px 17px 0 238px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: start;
  margin: -33px 152px 0 1px;
}

.u-section-1 .u-shape-1 {
  width: 106px;
  height: 32px;
  text-align: start;
  margin: 28px 3px 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  font-weight: normal;
  text-align: start;
  margin: -30px 15px 0 224px;
}

.u-section-1 .u-icon-2 {
  width: 20px;
  height: 20px;
  text-align: start;
  color: rgb(0, 0, 0) !important;
  margin: -24px 78px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 149px;
  height: 32px;
  text-align: start;
  margin: -25px auto 0 1px;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  font-weight: normal;
  text-align: start;
  margin: -29px 152px 0 46px;
}

.u-section-1 .u-icon-3 {
  width: 27px;
  height: 27px;
  text-align: start;
  margin: -29px auto 0 12px;
}

.u-section-1 .u-image-2 {
  width: 159px;
  height: 173px;
  margin: -579px 300px 0 auto;
}

.u-section-1 .u-rotation-parent-1 {
  width: 173px;
  height: 159px;
  margin: -69px -125px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 159px;
  height: 173px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 6rem;
  margin: -81px 570px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 38px auto 0 0;
  padding: 8px 33px;
}

.u-section-1 .u-rotation-parent-2 {
  width: 173px;
  height: 159px;
  margin: 128px 219px 60px auto;
}

.u-section-1 .u-image-4 {
  width: 159px;
  height: 173px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-2 {
    margin-left: initial;
    margin-top: initial;
    min-height: auto;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 187px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-5 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 257px;
  }

  .u-section-1 .u-text-5 {
    font-size: 3.75rem;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: 32px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-right: 181px;
  }

  .u-section-1 .u-text-5 {
    font-size: 3rem;
  }

  .u-section-1 .u-rotation-parent-2 {
    margin-right: 167px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 562px;
}

.u-section-2 .u-group-1 {
  margin-top: 111px;
  margin-bottom: 60px;
  min-height: 342px;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 49px auto 0;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 796px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 150px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 9px 0 0;
}

.u-section-3 .u-list-1 {
  margin-top: 101px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 14px) calc(33.3333% - 14px) calc(33.3333% - 14px);
  min-height: 257px;
  grid-gap: 21px 21px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 22px 32px;
}

.u-section-3 .u-icon-1 {
  height: 148px;
  width: 148px;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  background-image: none;
  box-shadow: 0px -4px 15px 0 rgba(0,0,0,0.2);
  margin: -25px auto 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: none;
  font-size: 1.875rem;
  margin: 33px 0 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 22px 32px;
}

.u-section-3 .u-icon-2 {
  height: 148px;
  width: 148px;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  background-image: none;
  box-shadow: 0px -4px 15px 0 rgba(0,0,0,0.2);
  margin: -25px auto 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.875rem;
  text-transform: none;
  margin: 33px 0 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 22px 32px;
}

.u-section-3 .u-icon-3 {
  height: 148px;
  width: 148px;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  background-image: none;
  box-shadow: 0px -4px 15px 0 rgba(0,0,0,0.2);
  margin: -25px auto 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.875rem;
  text-transform: none;
  margin: 33px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 212px;
  }

  .u-section-3 .u-list-item-1 {
    animation-duration: 1000ms;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-icon-1 {
    height: 126px;
    width: 126px;
    color: rgb(255, 255, 255) !important;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 26px;
  }

  .u-section-3 .u-list-item-2 {
    animation-duration: 1000ms;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-icon-2 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-list-item-3 {
    animation-duration: 1000ms;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-icon-3 {
    height: 126px;
    width: 126px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 10.5px) calc(50% - 10.5px);
    min-height: 487px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -15px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 16px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: -15px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-icon-1 {
    height: 108px;
    width: 108px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 26px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-icon-3 {
    height: 108px;
    width: 108px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 26px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 872px;
}

.u-section-4 .u-group-1 {
  width: 1021px;
  min-height: 587px;
  margin: 135px auto 60px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 479px;
  height: 415px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 97px -7px 0 auto;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: -486px 357px 0 26px;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  margin: 26px 459px 0 26px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    width: 940px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -487px;
    margin-right: 302px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 404px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 720px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 82px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 184px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 4px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 295px;
    margin-right: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: -367px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 374px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 55px auto 0;
}

.u-section-5 .u-countdown-1 {
  margin: 42px auto 55px;
}

.u-section-5 .u-countdown-item-1 {
  padding-top: 0;
}

.u-section-5 .u-countdown-counter-1 {
  font-size: 6rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-5 .u-countdown-label-1 {
  font-size: 1.25rem;
  font-style: italic;
  text-transform: none;
  font-weight: normal;
}

.u-section-5 .u-countdown-separator-1 {
  font-size: 6rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-5 .u-countdown-item-2 {
  padding-top: 0;
}

.u-section-5 .u-countdown-counter-2 {
  font-size: 6rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-5 .u-countdown-label-2 {
  font-size: 1.25rem;
  font-style: italic;
  text-transform: none;
  font-weight: normal;
}

.u-section-5 .u-countdown-separator-2 {
  font-size: 6rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-5 .u-countdown-item-3 {
  padding-top: 0;
}

.u-section-5 .u-countdown-counter-3 {
  font-size: 6rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-5 .u-countdown-label-3 {
  font-size: 1.25rem;
  font-style: italic;
  text-transform: none;
  font-weight: normal;
}

.u-section-5 .u-countdown-separator-3 {
  font-size: 6rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-5 .u-countdown-item-4 {
  padding-top: 0;
}

.u-section-5 .u-countdown-counter-4 {
  font-size: 6rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-5 .u-countdown-label-4 {
  font-size: 1.25rem;
  font-style: italic;
  text-transform: none;
  font-weight: normal;
}

.u-section-5 .u-countdown-separator-4 {
  font-size: 6rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-5 .u-countdown-item-5 {
  padding-top: 0;
}

.u-section-5 .u-countdown-counter-5 {
  font-size: 6rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-5 .u-countdown-label-5 {
  font-size: 1.25rem;
  font-style: italic;
  text-transform: none;
  font-weight: normal;
}

.u-section-5 .u-countdown-separator-5 {
  font-size: 6rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-5 .u-countdown-item-6 {
  padding-top: 0;
}

.u-section-5 .u-countdown-counter-6 {
  font-size: 6rem;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-5 .u-countdown-label-6 {
  font-size: 1.25rem;
  font-style: italic;
  text-transform: none;
  font-weight: normal;
}

@media (max-width: 1199px) {
  .u-section-5 .u-countdown-1 {
    height: 143px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-countdown-counter-1 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-countdown-label-1 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-countdown-separator-1 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-countdown-counter-2 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-countdown-label-2 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-countdown-separator-2 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-countdown-counter-3 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-countdown-label-3 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-countdown-separator-3 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-countdown-counter-4 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-countdown-label-4 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-countdown-separator-4 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-countdown-counter-5 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-countdown-label-5 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-countdown-separator-5 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-countdown-counter-6 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-countdown-label-6 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-countdown-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-countdown-counter-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-countdown-label-1 {
    font-size: 0.875rem;
  }

  .u-section-5 .u-countdown-separator-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-countdown-counter-2 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-countdown-label-2 {
    font-size: 0.875rem;
  }

  .u-section-5 .u-countdown-separator-2 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-countdown-counter-3 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-countdown-label-3 {
    font-size: 0.875rem;
  }

  .u-section-5 .u-countdown-separator-3 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-countdown-counter-4 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-countdown-label-4 {
    font-size: 0.875rem;
  }

  .u-section-5 .u-countdown-separator-4 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-countdown-counter-5 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-countdown-label-5 {
    font-size: 0.875rem;
  }

  .u-section-5 .u-countdown-separator-5 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-countdown-counter-6 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-countdown-label-6 {
    font-size: 0.875rem;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 807px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 150px auto 0;
}

.u-section-6 .u-tabs-1 {
  min-height: 408px;
  margin-top: 45px;
  margin-bottom: 60px;
}

.u-section-6 .u-tab-link-1 {
  font-size: 1.125rem;
  background-image: none;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-6 .u-tab-link-2 {
  font-size: 1.125rem;
  background-image: none;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-6 .u-tab-link-3 {
  font-size: 1.125rem;
  background-image: none;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-6 .u-tab-link-4 {
  font-weight: 700;
}

.u-section-6 .u-tab-pane-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  line-height: 1.8;
  font-weight: 700;
  width: 774px;
  margin: 0 auto;
}

.u-section-6 .u-tab-pane-2 {
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-6 .u-text-3 {
  line-height: 1.8;
  margin: 0 57px;
}

.u-section-6 .u-tab-pane-3 {
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  margin: -30px -30px 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-text-5 {
  font-size: 1rem;
  font-weight: 700;
  margin: -30px -30px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-tabs-1 {
    height: auto;
  }

  .u-section-6 .u-text-2 {
    margin-left: 53px;
    margin-right: 53px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-2 {
    width: 520px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-2 {
    width: 320px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 3151px;
}

.u-section-7 .u-line-1 {
  height: 682px;
  left: auto;
  top: 637px;
  transform-origin: center top 0px;
  position: absolute;
  width: 3px;
  animation-duration: 1000ms;
  right: 567px;
}

.u-section-7 .u-line-2 {
  height: 682px;
  left: auto;
  top: 2000px;
  transform-origin: center top 0px;
  position: absolute;
  width: 3px;
  animation-duration: 1000ms;
  right: 567px;
}

.u-section-7 .u-line-3 {
  height: 682px;
  left: auto;
  top: 1339px;
  transform-origin: center top 0px;
  position: absolute;
  width: 3px;
  animation-duration: 1000ms;
  right: 567px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 125px 103px 0 auto;
}

.u-section-7 .u-group-1 {
  width: 321px;
  min-height: 480px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 193px 184px 0 auto;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  margin: 0;
}

.u-section-7 .u-text-3 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-7 .u-text-4 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 14px 0 0;
}

.u-section-7 .u-shape-1 {
  width: 41px;
  height: 41px;
  margin: -260px auto 0;
}

.u-section-7 .u-rotation-parent-1 {
  width: 228px;
  height: 570px;
  margin: 479px auto 0 117px;
}

.u-section-7 .u-shape-2 {
  width: 480px;
  height: 321px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-7 .u-text-5 {
  font-weight: 700;
  text-align: center;
  margin: -498px 701px 0 117px;
}

.u-section-7 .u-text-6 {
  font-weight: 400;
  font-size: 1.125rem;
  text-align: center;
  margin: 38px 732px 0 148px;
}

.u-section-7 .u-shape-3 {
  width: 41px;
  height: 41px;
  margin: -133px auto 0;
}

.u-section-7 .u-group-2 {
  width: 321px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 480px;
  height: auto;
  margin: 430px 103px 0 auto;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-7 .u-text-7 {
  font-weight: 700;
  text-align: center;
  margin: 14px 0 0;
}

.u-section-7 .u-text-8 {
  font-weight: 400;
  font-size: 1.125rem;
  text-align: center;
  margin: 56px 28px 0 32px;
}

.u-section-7 .u-shape-4 {
  width: 41px;
  height: 41px;
  margin: -269px auto 0;
}

.u-section-7 .u-group-3 {
  width: 321px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 480px;
  height: auto;
  margin: 462px auto 0 103px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-text-9 {
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.u-section-7 .u-text-10 {
  font-weight: 400;
  font-size: 1.125rem;
  text-align: center;
  margin: 82px 0 0;
}

.u-section-7 .u-shape-5 {
  width: 41px;
  height: 41px;
  margin: -301px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 3058px;
  }

  .u-section-7 .u-rotation-parent-1 {
    height: 477px;
  }

  .u-section-7 .u-shape-2 {
    width: 570px;
    height: 228px;
  }

  .u-section-7 .u-text-5 {
    margin-top: -405px;
    margin-right: 501px;
  }

  .u-section-7 .u-text-6 {
    margin-right: 632px;
    margin-left: 48px;
  }

  .u-section-7 .u-group-2 {
    height: auto;
  }

  .u-section-7 .u-group-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-5 {
    margin-right: 281px;
  }

  .u-section-7 .u-text-6 {
    margin-right: 460px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 101px;
  }

  .u-section-7 .u-text-6 {
    margin-right: 280px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-group-1 {
    margin-right: 19px;
  }

  .u-section-7 .u-rotation-parent-1 {
    margin-left: 112px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 0;
    margin-left: 112px;
  }

  .u-section-7 .u-text-6 {
    margin-right: 80px;
  }

  .u-section-7 .u-group-2 {
    margin-right: 19px;
  }

  .u-section-7 .u-group-3 {
    margin-left: 19px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 540px;
}

.u-section-8 .u-list-1 {
  grid-template-rows: auto;
  margin: 60px auto 60px 0;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  min-height: 396px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-image-1 {
  height: 247px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-1 {
  margin: 20px 1px 0;
}

.u-section-8 .u-text-2 {
  margin: 20px 1px 0;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-image-2 {
  height: 247px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-3 {
  margin: 20px 1px 0;
}

.u-section-8 .u-text-4 {
  margin: 20px 1px 0;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-image-3 {
  height: 247px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-5 {
  margin: 20px 1px 0;
}

.u-section-8 .u-text-6 {
  margin: 20px 1px 0;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-image-4 {
  height: 247px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-7 {
  margin: 20px 1px 0;
}

.u-section-8 .u-text-8 {
  margin: 20px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-8 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-1 {
    height: 192px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-image-2 {
    height: 192px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-image-3 {
    height: 192px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-image-4 {
    height: 192px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-8 .u-image-1 {
    height: 329px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-2 {
    height: 329px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-3 {
    height: 329px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-4 {
    height: 329px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-1 {
    height: 570px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-2 {
    height: 570px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-3 {
    height: 570px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-4 {
    height: 570px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-image-1 {
    height: 351px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-2 {
    height: 351px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-3 {
    height: 351px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-4 {
    height: 351px;
    margin-right: initial;
    margin-left: initial;
  }
}